<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News App</title>
  <link rel="stylesheet" href="index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1 class="title">最新ニュース一覧</h1>
    <section class="category-selector">
      <p>カテゴリを選択：</p>
      <select v-model="selectedCategory" @change="filterArticles" id="category-select">
        <option value="">--すべて表示--</option>
        <option value="政治">政治</option>
        <option value="経済">経済</option>
        <option value="IT">IT</option>
        <option value="スポーツ">スポーツ</option>
        <option value="社会">社会</option>
        <option value="企業">企業</option>
      </select>
    </section>
    <section class="articles">
    <ul class="article">
      <li class="article-item" v-for="article in articles" :key="article.id">
        <h2 class="article-title">
            <a :href="article.link" target="_blank">{{ article.title }}</a>
        </h2>
        <p class="article-description">{{ article.description }}</p>
        <ul class="article-tags">
          <li class="article-tag" v-for="tag in article.tags" :key="tag.id">{{ tag }}</li>
        </ul>
      </li>
    </ul>
    </section>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        articles: [],
        allArticles: [],
        selectedCategory: ''
      },
      mounted() {
        fetch('all_topics.json')
          .then(response => response.json())
          .then(data => {
            this.allArticles = data;
            this.articles = data;
          })
          .catch(error => {
            console.error('Error:', error);
          });
      },
      methods: {
        filterArticles() {
          if (this.selectedCategory === '') {
            this.articles = this.allArticles;
          } else {
            this.articles = this.allArticles.filter(article => 
              article.tags && article.tags.includes(this.selectedCategory)
            );
          }
        }
      }
    });
  </script>
</body>
</html>
